.visa-card {
    height: 230px;
    color: var(--text-color);
    perspective: 1000px;
}
.visa-card .front, .visa-card .back {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    background: linear-gradient(135deg, #f78308, #ffb347);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    backface-visibility: hidden;
    box-shadow: var(--shadow-3);
    overflow: hidden;
    z-index: 2;
}
.visa-card .map-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    opacity: 0.8;
}
