.main {
    margin-left: 160px;
    width: calc(100% - 260px);
    max-width: 100vw;
}
.container {
    display: grid;
    grid-template-columns: 400px auto;
    padding: 30px 70px 70px 70px;
    gap: 40px;
}
.container .column {
    padding: 20px;
}
.container .tittle {
    margin-bottom: 40px;
}
.container .icon {
    width: 50px;
}
.container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .currency {
    font-size: 33px;
    font-weight: 700;
    color: var(--text-muted-color);
}
.container .input {
    flex: 1;
    font-size: 33px;
    font-weight: 700;
}
.container .profile {
   width: 1.5rem;
    height: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
}
@media only screen and (max-width: 1180px) {
    .main {
        margin-left: 0;
        width: 100%;
    }
    .navbar {
        margin-left: 0;
    }
    
}
@media only screen and (max-width: 900px) {
    .container {
        grid-template-columns: 100%;
    }
    
}